body{
  background-color: #ffa384;
}

.navEffect:hover {
  background-color: white;
  display: block;
  padding: 6px 20px 6px 20px;
}

.navEffect{
  justify-content: center;
  display: block;
  padding: 6px 20px 6px 20px;
}
